<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Enrique's Chat</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/chat.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container-fluid">
            <ul id="messages"></ul>
        </div>
        <form id="messageForm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <input id="message" type="text" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Send</button>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#nicknameModal">Nickname</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal fade" id="nicknameModal" tabindex="-1" role="dialog" aria-labelledby="nicknameModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Choose your nickname</h4>
                    </div>
                    <div class="modal-body">
                        <form id="nicknameForm">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input id="nickname" type="text" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            var socket = io();
            var localNickname = 'guest';
            $('#messageForm').submit(function(e){
                e.preventDefault();
                socket.emit('chat message', localNickname, $('#message').val());
                $('#message').val('');
            });
            $('#nicknameForm').submit(function(e){
                e.preventDefault();
                if ($('#nickname').val() !== "") {
                    localNickname = $("#nickname").val();
                }
                $('#nicknameModal').modal('toggle');
            });
            socket.on('chat message', function(nickname, msg){
                $('#messages').append($('<li>').text(nickname + ': ' + msg));
            });
            socket.on('user connected', function(msg){
                $('#messages').append($('<li>').text(msg));
            });
            socket.on('user disconnected', function(msg){
                $('#messages').append($('<li>').text(msg));
            });
        </script>
    </body>
</html>
